/*
    Created on : 2018-05-01, 16:57:32
    Author     : Michał Koziara
*/


body {
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    body{font-size: 10px;}
}

@media only screen and (max-width: 992px) {
    body{font-size: 14px;}
}


@font-face {
    font-family: 'George IV';
    font-style: normal;
    font-weight: normal;
    src: local('George IV'), url('George IV by Rory Harnden.woff') format('woff');
}


body{
    background: #C0B283;
    display: block;
    align-items: center;
}


header{
    background-color: #C0B283;
    text-align: center;
    max-height: 20%;
}

h1 {
    font-size: 5em;
    font-family: 'George IV', serif;
}

section{
    display: flex;
    align-items: center;
}

#icons{
    z-index: 9999;
    display: flex;
    align-items: center;
    position: absolute;
}

#icons a img {
    height: 100%;
    border-radius: 8px;
}

#icons a {
    font-size: 1em;
    height: 7em;
    width: 7em;
    margin: 0 2em;
}

#particles-js{
    width: 80%;
    min-height: 80%;
    min-height: 80vh;
    max-height: 80%;
    background: #373737;

    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    align-items: center;
}

canvas {
    position: absolute;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    vertical-align: bottom;
}

@media only screen and (max-width: 550px) {
    #icons a {
        max-width: 5em;
        max-height: 5em;
        margin: 0 0.3em;
    }

    h1{
        font-size: 3em;
    }

    #particles-js {
        min-height: 75%;
        min-height: 75vh;
        max-height: 75%;
    }
}